.col-left{
	border: 1px solid #000;
    float: left;
    width: 48%;
    text-align: center;
    

}
.col-right{
    border: 1px solid #000;
    float: right;
    width: 48%;
    text-align: center;
    

}
.wrap{
	
   
	border: 1px solid red;
	
	
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

